body{
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #ccbb8e;
    padding: 20px 0;
}

.caja{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}

h1 img{
    transform: scale(50%);
}

nav li{
    display: inline;
    margin: 0 0 0 20px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #a14b11;
    text-decoration: underline;
}

main {
    width: 100%;
}
.productos{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 255px;
    height:400px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #a14b11;
    border-radius: 10px;
}
.productos img{
    width:200px;
    margin: 1.3%;
}

.productos li:hover{
    border-color:#ccbb8e;
}

.productos li:active{
    border-color:#a14b11;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
}

footer img {
    transform: scale(0.5);
}
footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    background-size: auto;
    padding: 20px;
    margin-top: auto;
}
.copyright{
    color:#FFFFFF;
    font-style: bold;
    font-size: 13px;
    margin:20px;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: #a14b11;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover{
    background: #6e3006;
    transform: scale(1.05);
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color:white;
    font-weight: bold;
}

td,th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

.contacto {
    margin: 0 1.5%;
}
/*Aquí inicia el CSS para nuestra home*/
.banner{
    width: 100%;
}

.principal{
    background: #FEFEFE;
    width: 100%;
    margin: 0 auto; 
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 1em;
}

.principal p{
    margin:1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 200px;
    float:left;
    margin: 1em;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE,#ccbb8e)
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 85%;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    background:linear-gradient(#ccbb8e,#bda668)
}

.contenido-diferenciales{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.5;
}

.items:before{
    content:"★"
}

.items:nth-child(4){
    font-weight: bold;
}

.imagen-diferenciales{
    width: 60%;
    margin: 1em;
}

.contenedorVideo{
    position: relative;
    height: 0px;
    width: 100%;
    padding-bottom: 56.25%; /* Esta es la proporción para un video 16:9. */
}
    
.video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

